<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

      <context:property-placeholder location="classpath:conf/*.properties"/>  	
       <!--web层的配置文件，其实也是spring管理web层，只是多了一个springmvc的注解-->
        <!--web、service、dao都会有一个spring文件配置一些东西-->	
     <!--扫描所有的controller-->
	<context:component-scan base-package="com.aia.search" />
	<!--配置springmvc的两大主件-->
	<mvc:annotation-driven />
	<!--这是另一大件，视图解析器-->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="globelException" class="com.aia.search.execption.GlobelException"></bean>
	
	<!-- 引用dubbo服务 -->
	<dubbo:application name="e3-portal-web"/>
	<dubbo:registry protocol="zookeeper" address="192.168.25.128:2181"/>	
	<!--其实这里引用了接口的位置，在pom文件中引入了对接口的依赖，所以接口在打成一个jar放置在这个工程中
		那么对于接口总的类和方法等就可以知道了，这样是吧接口打成一个模块的原因-->	
	<dubbo:reference interface="com.aia.service.SeachItemService" id="seachItemService" />
</beans>